export MESOS_NATIVE_JAVA_LIBRARY={{ prefix_mesos }}/lib/libmesos.so
export SPARK_EXECUTOR_URI={{ spark_url }}
#export MASTER=mesos://{{ mesos_master_host }}:{{ mesos_master_port }}
export MASTER={{ mesos_master_host }}
#
# for hadoop
