<!-- Launch file for a single robot -->
<launch>
	<arg name="robot_name"/>
	<arg name="init_pose"/>

	<node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="$(arg init_pose) -urdf -param /robot_description -model $(arg robot_name)" respawn="false" />


	<!-- add other features here -->
</launch>
