<?xml version="1.0" encoding="UTF-8"?>
<!-- create multiple robots -->
<launch>
	 <param name="robot_description" command="$(find xacro)/xacro.py '$(find mybot_description)/urdf/mybot.xacro'"/>

<!-- begin robot 01 -->
	<group ns="robot1">
  		<param name="tf_prefix" value="robot1_tf" />
  		<include file="$(find mybot_description)/launch/single_robot.launch" >
  			<arg name="init_pose" value="-x 2 -y 1 -z 0" />
  			<arg name="robot_name" value="Robot1" />
<!--  			<arg name="host_server" value="host01" /> -->
  		</include>
  	</group>

<!-- begin robot 02 -->
	<group ns="robot2">
  		<param name="tf_prefix" value="robot2_tf" />
  		<include file="$(find mybot_description)/launch/single_robot.launch" >
  			<arg name="init_pose" value="-x -2 -y 1 -z 0" />
  			<arg name="robot_name" value="Robot2" />
<!--  			<arg name="host_server" value="host02" /> -->
  		</include>
  	</group>
</launch>
